.container {
  padding: 40px;
  text-align: center;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 25px;
}

.previewBox {
  width: 450px;
  margin: 0 auto 25px auto;
}

.preview {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.downloadBtn {
  margin-top: 15px;
  font-size: 1rem;
  padding: 12px 28px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.downloadBtn:hover {
  background: #333;
}
